$primary:#ffffff ;
$btn-primary:#ffffff;
$secondary:#DEDEDE ;
$light:#C8A680;
$dark:#8A5B3D ;
$black:#5e343e ;
$white:#ffffff ; 
$orange:#F3A140;
$font-family-sans-serif : "Poppins", sans-serif !default;
$font-family-serif : "Poppins", sherif !default;



@import "../node_modules/bootstrap/scss/bootstrap";

 