
@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");

@import 'custom';

.nav-title{
    border:0px;
    padding:0px; 
    /*font-size: 32px;*/
    align-items: center;
}


//////HERO-SCENE
.hero-scene{ 
    position : relative;
    &::before{
        content:"";
        
        position: absolute;
        top: 0;
        left:0;
        width:100%;
        height:100%; 
       
        background-image: url(../img/home.jpg);  
        background-size: cover;
        padding: 0px;
        margin: 0px;
        border: none;
        filter: brightness(0.3);
        }
        *{ // pour tous les éléments de hero-scene
            position:relative;
        }
        .hero-scene-content{
            display: flex;
            height: 450px;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .btn{
                margin-top: 50px;
            }
        }
}
.hero-scene h1{ 
    color: #F3A140; 
    font-size: 50px; 
    -webkit-text-stroke: 1px #454546; /* Set the border color (Bootstrap primary color) */
}
.hero-scene h2{ 
    width:100%;
    text-align: center;
}

//////BUTTONS

.btn{  
    
    border-radius: 5px;
    color: $btn-primary;
    background-color: #F7B83A;
    border: none;
    height: 30px; 
    min-width: 128px;
    width: 160px;
    max-width: 180px;
    .p{
        font-size: 16px; 
    }
    
}


.absolute{
    position: absolute;
}


//////SECTIONS

.section{
    position: relative; 
    min-height: 250px;
    max-height: 600px;
    padding: 0px;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.section-title{
    display: flex;
    font-size: clamp(1.5rem, 3vw, 3rem);
    justify-content: center;
    color: white;
}
.section-desc{
    display: flex;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal; 
    font-size: clamp(1rem, 3vw, 2rem);
    justify-content: center;
    color: white;
} 
.section-img{
    height: 100%; 
    object-fit: cover;
    padding: 0px;
    margin: 0px;
    border: none;
    border-radius: 5px;
}

//////FOOTER
footer{
    background: #F3A140;
}
 

.image-card{
    position:relative;
    &:hover{
        .titre-image{
            color:rgb(255, 255, 255);
            opacity: 1;
        }
        img{
            filter: brightness(0.3);
            
        }
    
    } 
    img{
        filter: brightness(1);
        transition: all 0.3s;
    }


    .titre-image{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        transition: all 0.3s;
    }

}

.calendar-days{
    position: relative;
    display: flex;
    padding: 30px;
    .calendar-days-bg{ 
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);

        background: #919191;
        width: 60px;
        height:60px;
        border-radius: 5px;
    }
    p{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);

        color: #F3A140;
    }
}

//Calendar
.calendar {
    display: grid;
    
    grid-template-columns: repeat(7, 1fr); /* 7 equal columns */
    gap: 5px; /* Optional: spacing between days */
    max-width: 400px; /* Adjust width as needed */
  }
  
  .day-header {
    font-weight: bold;
    text-align: center;
    padding: 8px 0;
    background-color: #f0f0f0;
  }
  
  .day {
    text-align: center;
    padding: 10px;
    background-color: #e8e8ff;
    border-radius: 4px;
    &:hover{
        background-color: #bbbbc9;
        border-width: 2px;
    }
    transition: all 0.3s;
  }
  
  .empty {
    visibility: hidden; /* Placeholder to offset the start day */
  }